@charset "UTF-8";
* {
  trnasition: 0.5s;
  margin: 0;
}

:root {
    --block: #000000;
    --white: #ffffff;
    --dark: #282828;
    --red: #931524;
    --red2:#e01212;
    --red3: #af0808;
    --red4: #8c1616;
    --red5: #670001;
    --grey: #b7b7b7;
    --grey2: #595959;
    --lightyellow: #fff8d7;
    --lightyellow2: #f8cd70;
    --brown: #76523e;
    --orange: #ef3f16;
    --brown2: #8e6540;
    --green:#1c2f0f;
}

a {
    text-decoration: none;
    outline: none;
}

p,
li,
section,
header,
footer {
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 1px;
}

.hidden {
  overflow: hidden;
}

/* container */
.christmas-container,
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
	padding-right: var(--bs-gutter-x, 0.75rem);
	padding-left: var(--bs-gutter-x, 0.75rem);
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
  .christmas-container,
	.container,
	.container-sm {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
  .christmas-container,
	.container,
	.container-md,
	.container-sm {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
  .christmas-container,
	.container,
	.container-lg,
	.container-md,
	.container-sm {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
  .christmas-container,
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1140px;
	}
}

@media (min-width: 1400px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: 1320px;
	}
}

@media (min-width: 1400px) {
  .christmas-container {
		max-width: 1600px;
	}
}


@media (min-width: 1900px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl,
	.container-3xl{
		max-width: 1320px;
	}

   .christmas-container {
		max-width: 1680px;
	}
}


.text-start {
	text-align: left !important;
}
.text-end {
	text-align: right !important;
}
.text-center {
	text-align: center !important;
}

.w-50 {
	width: 50% !important;
}

.w-60 {
	width: 60% !important;
}

.w-75 {
	width: 75% !important;
}

.w-80 {
	width: 80% !important;
}

.w-85 {
	width: 85% !important;
}

.w-90{
  width: 90% !important;
}  

.w-100 {
	width: 100%;
}

.vw-100 {
	width: 100vw;
}

.w-auto {
  width: auto;
}

.d-block {
	display: block !important;
}

.d-flex {
	display: flex !important;
}

.d-inline-flex {
	display: inline-flex !important;
}

.d-none {
	display: none !important;
}

.p-0 {
	padding: 0rem !important;
}

.p-3 {
    padding: 1rem 1rem 0.5rem!important;
}

.pt-1 {
	padding-top: 0.25rem !important;
}
.pt-2 {
	padding-top: 0.5rem !important;
}
.pt-3 {
	padding-top: 1rem !important;
}
.pt-4 {
	padding-top: 1.5rem !important;
}

.pt-5 {
	padding-top: 3rem !important;
}

.pt-10 {
	padding-top: 6rem !important;
}

.pt-15 {
	padding-top: 9rem !important;
}

.pt-200 {
	padding-top: 200px !important;
}

.pb-3 {
	padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-50 {
	padding-bottom: 50px !important;
}

.pb-100 {
	padding-bottom: 150px !important;
}

.pb-150 {
	padding-bottom: 130px !important;
}

.pb-200 {
	padding-bottom: 200px !important;
}

.pb-300 {
	padding-bottom: 300px !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-4 {
	padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.py-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.py-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.px-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.m-auto {
  margin: auto !important;
}

.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--bs-gutter-y) * -1);
	margin-right: calc(var(--bs-gutter-x) * -0.5);
	margin-left: calc(var(--bs-gutter-x) * -0.5);
}


nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: #9f4900;
  text-align: center;
  z-index: 999;
  box-shadow: rgba(33, 35, 38, 0.3) 0px 10px 10px -10px;
}
  
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

nav li {
   background: linear-gradient(to top, #ebb94b, #fffbb4, #ebb94b);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
}

.section .snowicon1 {
    display: inline-block;
    position: relative;
    background: url(../images/icon-1.png) no-repeat;
    width: 34px;
    height: 27px;
    top:3px;
}


.section .snowicon2 {
    display: inline-block;
    position: relative;
    background: url(../images/icon-2.png) no-repeat;
    width: 34px;
    height: 27px;
    top:3px;
}


#goTop {
  background-image: url(../images/TOP.png);
  display: none;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 30px;
  font-weight: 600;
  line-height: 50px;
  border-radius: 99rem;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
  z-index: 20;
}

#goTop:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
  
.scroll-tag{
  margin: auto;
}
    
ul {
  display: inline-block;
}
  
li {
  display: inline-block;
  padding: 8px 20px;
  font-size: 26px;
  font-weight: 600;
}
  
.menu-height li {
  cursor: pointer;
}
  
.menu-height li.on,
.menu-height .li:hover {
  background: linear-gradient(to top, #ebb94b, #fffbb4, #ebb94b);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
}
  
h2 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 12px;
}
  
p {
  font-size: 16px;
  color: var(--grey);
  line-height: 1.8;
  letter-spacing: 0.08rem;
}
  
  
section:nth-last-child {
  margin-bottom: 0px;
}

.section .star {
    display: inline-block;
    position: relative;
    background : url(../images/icon-1.png) no-repeat;
    width: 22px;
    height: 20px;
    top: 2px;
}

  
/* banner */
.banner {
    position: relative;
}
  
.banner .headline {
    position: absolute;
    left: 33%;
    transform: translate(-50%, -90%);
    z-index: 2;
    width: 34%;
    animation: headlineT 3s linear infinite alternate;
}

@keyframes headlineT{
    0% {
        top:250px
    }
    50% {
      top: 230px
    }
    100%
    {
      top: 250px
    }
}

  .banner .snow {
    position: absolute;
    left: 50%;
    top: 54%;
    transform: translate(-50%, -50%);
    width: 100%;  
}

  .banner .photo-1 {
    position: absolute;
    top: 54%;
    transform: translate(-50%, -50%);
    width: 100%;  
}


@media (min-width: 1400px) { 
  .banner .headline {
    transform: translate(-50%, -75%);
  }
}


@media (min-width: 1500px) { 
  .banner .headline {
    transform: translate(-50%, -72%);
  }
}


  
@media (min-width: 1720px) { 
  .banner .headline {
    transform: translate(-50%, -55%);
  }
}

@media (min-width: 2200px) { 
  .banner .headline {
    transform: translate(-50%, -50%);
  }
}


@media (max-width: 1199.98px) { 
 .banner .headline {
    transform: translate(-50%, -125%);
  }
}

@media (max-width: 991.98px) { 
   .banner .headline {
    transform: translate(-50%, -140%);
  }
}

@media (max-width: 799.98px) { 
    .banner .headline {
    transform: translate(-50%, -185%);
  }
}

 @media (max-width: 676.98px) {
    .banner .headline {
        transform: translate(-50%, -212%);
    }
}


 @media (max-width: 575.98px) {
    .banner .headline {
        width: 63%;
        transform: translate(-58%, -160%);
    }

    .banner .photo-1 {
      top: 20%;
      transform: translate(-63%, -32%);
      width: 160%;
  }

    .banner .snow {
      left: 53%;
      top: 18%;
      width: 100%;
  }

  /*  menu  */
  li {
    padding: 8px 10px;
    font-size: 22px;
  }

  nav {
    padding: 6px;
  }

}


 @media (max-width: 532.98px) {
    .banner .headline {
        width: 63%;
        transform: translate(-58%, -100%);
    }
}


 @media (max-width: 500.98px) {
    .banner .headline {
        width: 63%;
        transform: translate(-58%, -148%);
    }
}


 @media (max-width: 375.98px) {
    .banner .headline {
        width: 63%;
        transform: translate(-58%, -168%);
    }
}


/* 歐洲冬季 */
.bg-1 {
  background-image: url(../images/bg-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-3 {
  padding-bottom: 10px;
}

.title-img {
  width: 60%;
  padding-top: 40px;
}

.winter {
  width: 82%;
  margin: auto;
  padding: 30px 0 40px;
}

.winter p {
    font: 500 16px "微軟正黑體";
    color: var(--lightyellow);
    line-height: 2rem;
    letter-spacing: 0.2rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.05rem;
    padding-bottom: 70px;
}

.christmas-w {
  width: 70%;
}

@media (min-width: 576px) { 
  .christmas-w {
    width: 60%;
  }
}

@media (min-width: 768px) {

  .title-img {
    width: auto;
  }

  .winter {
    width: 75%;
    margin: auto;
    padding: 30px 0;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    padding: 20px 100px 80px;
  }

  .christmas-w {
    width: 100%;
  }

  .winter p {
    font: 500 18px "微軟正黑體";
  }
}

@media (min-width: 1200px) {
  .winter {
    width: 60%;
    padding: 30px 0 40px;
  }
    
  .grid {
    padding: 20px 200px 120px;
  }
}


@media (min-width: 1700px) {
  .winter {
    width: 50%;
  }

  .grid {
    padding: 20px 350px 80px;
  }
}

@media (min-width: 2300px) {
  .christmas-w {
    width: 95%;
  }

   .grid {
    padding: 20px 550px 100px;
  }
}

/* 聖誕市集 */
.bg-2 {
  background-image: url(../images/bg-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.title2-img {
    width: 70%;
    padding-top: 30px;
}

.christmas-py {
  padding: 50px 0 10px;
}

.christmas-box {
  position: relative;
  margin-top: 30px;

}

.christmas-box .owl-stage-outer {
  padding: 0;
}

.christmas-box .owl-nav {
  display: none;
}

.christmas-box .owl-dots {
  text-align: center;
}

.christmas-box .owl-dots .active {
  box-shadow: none;
}

.christmas-box  .owl-dots .active span {
  background: var(--red);
  box-shadow: none;
  height: 15px;
  width: 15px;
  margin-bottom: -1px;
}

.christmas-box  .owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #afafaf;
  margin: 0 5px;
}

.card-box,
.card-box2 {
  text-align: center;
  padding: 0 14px 33px;
}

.card-box h2,
.card-box2 h2 {
  font: 600 19px "微軟正黑體";
  color: var(--brown);
}

.card-box h2 {
  text-align: center;
}

.card-box2 h2 {
  text-align: left;
  letter-spacing: -0.6px;
}

.card-box p,
.card-box2 p{
  font: 600 16px "微軟正黑體";
  color: var(--grey2);
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  text-align: left;
}

.card-img {
  width: 80%;
}

/* 裝飾線條 */
.wire-box {
  margin: auto;
  padding: 100px 0 50px;
  text-align: center;
}

.wire-box2 {
  margin: auto;
  padding: 50px 0;
  text-align: center;
}

.wire {
  width: 80%;
}

@media (max-width: 575.98px) { 
  .wire-box {
    padding: 70px 0 10px;
  }
  
  .wire {
    width: 160%;
    right: 120px;
    position: relative;
  }

  .title2-img {
    width: 80%;
  }

  .christmas-py {
    padding: 30px 0 0; 
  }
}

@media (max-width: 767.98px) {
  .wire-box2 {
    padding: 50px 0;
  }
}

@media (min-width: 992px) {
  .wire-box2 {
    padding: 80px 0 60px;
  }
}


@media (min-width: 1200px) {
  .card-box2 h2 {
    letter-spacing: -1.8px;
  }

  .christmas-py {
    padding: 80px 0 50px;
  }

  .christmas-box .owl-stage-outer {
    padding: 15px 0 30px;
  }

   .wire-box2 {
    padding: 80px 0 100px;
  }
}


@media (min-width: 1400px) {
   .title2-img {
    width: 50%;
  }

  .card-box-pt {
    padding-top: 50px;
  }

  .card-box2 h2 {
    letter-spacing: -0.6px;
  }

  .wire-box {
    margin: auto;
    padding: 150px 0 50px;
    text-align: center;
  } 
}


/* 聖誕市集行程全覽 */
.travel-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: auto;
    padding: 1rem;
}

.order1 {
  order: 2;
  grid-column: span 1;
}

.order2 {
  order: 1;
  grid-column: span 2;
}

.order3 {
  order: 3;
  grid-column: span 1;
}

.photo-w {
  width: 100%;
  padding-top: 12px;
}

.title-w {
  width: 100%;
}
 
/* 行程 */
.label-box,
.label-box2  {
  background-color: var(--orange);
  width: 31%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.label-box p,
.label-box2 p {
  font: 600 18px "微軟正黑體";
  color: var(--white);
  white-space:nowrap;
}

.travel-flex .money {
  font-size: 18px;
  color: var(--red2);
  text-align: end;
}

.travel-flex strong {
  font-size: 26px;
  color: var(--red2);
}

.travel-flex small {
  font-size: 18px;
  color: var(--block);
  padding-left: 2px;
}

.travel-box {
  padding: 0 10px 50px;
}

.travel-box li,
.new-travel-box li {
    color: var(--brown2);
    list-style-type: none;
    display: block;
    border-bottom: dotted 1px;
    border-width: 0 0 5px 0;
    padding: 5px 0 12px;   
}

.travel-box h3,
.new-travel-box h3 {
  font: 600 18px "微軟正黑體";
  color: var(--dark);
  letter-spacing: 1px;
  line-height: 30px;
  padding: 10px 0;
}

.nation-box {
  text-align: center;
  color: var(--red3);
  border: 1px solid var(--red3);
  border-radius: 5px;
  padding: 2px 3px 2px 4px;
  margin-right: 6px;
}

.gap-py {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}


@media (min-width: 768px) {

  .travel-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 20px 0 ;
  }

  .travel-flex strong {
    font-size: 32px;
  }

  .travel-b {
    position: relative;
    bottom: 60px;
  }

  .order1 {
    order: 1;
    grid-column: span 1;
  }

  .order2 {
    order: 2;
    grid-column: span 1;
  }

  .order3 {
    order: 3;
    grid-column: span 1;
  }

  .label-box {
    width: 14%;
  }

  .label-box2 {
    width: 20%;
  }

  .photo-w {
    width: 100%;
  }

  .title-w {
    width: 100%;
  }

  .travel-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: end;
  }

  .travel-box h3 {
    padding: 20px 0 0;
  }

  .travel-box li {
    margin-bottom: 0;
    padding: 8px 0 10px;
  }

  .travel-box h3,
  .new-travel-box h3 {
    padding: 10px 0 0;
  }

}

@media (min-width: 992px) { 
  .travel-b {
    position: relative;
    bottom: 90px;
  }

  .travel-box {
    padding: 0 10px 100px;
  }
}

@media (min-width: 1200px) {
  .travel-grid {
    gap: 3rem;
    padding: 20px 50px 20px;
  }

  .label-box {
    width: 8%;
  }

  .label-box2 {
    width: 15%;
  } 

  .gap-py {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }
}


@media (min-width: 1600px) {
  .travel-box {
    padding: 0 10px 200px;
  }

}


/* 跨年 */
.bg-3 {
  background-image: url(../images/bg-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border-bottom: 15px solid var(--green);
}

.new-pb {
  padding-bottom: 50px;
}

.new-title {
  width: 80%;
  padding: 80px 0 20px;
}

.new-box {
  position: relative;
  margin-top: 10px;
}

.new-box-w {
  width: 100%;
}

.new2026-w {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.new-box-img{
  flex: 0 0 auto;
  width: 100%;
  text-align: center;
}

.new-box-content{
  flex: 0 0 auto;
  width: 100%;
}


.new-box-img .new-3-w {
  width: 85%;
}

.new-box-content h2 {
    font: 600 22px "微軟正黑體";
    color: var(--lightyellow2);
    padding: 30px 0 12px;
}

.new-box-content .content-p {
    font: 500 18px "微軟正黑體";
    color: var(--white);
    line-height: 2rem;
    letter-spacing: 0.2rem;
}

.new-travel-box {
  background-color: var(--white);
  padding: 0 25px;
  margin-top: 30px;
  border: 4px solid var(--red4);
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media (min-width: 768px) { 
  .new-box-w {
    width: 78%;
  }
  .new-title {
    width: 40%;
    padding: 90px 0 50px;
  }

  .new2026-w {
    top: 49%;
    width: 54%;
  }

  .new-box-img .new-3-w {
    width: 60%;
  }

  .new-travel-box {
    padding: 20px 40px;
  }

  .new-pb {
    padding-bottom: 100px;
  }
}

@media (min-width: 992px) { 
  .new-box-img {
    width: 35%;
    margin: auto;
  }

  .new-box-content {
    width: 65%;
    margin: auto;
  }

  .new-box-img .new-3-w {
    width: 90%;
  }
}


@media (min-width: 1200px) { 
  .new-box-img {
    width: 40%;
    margin: auto;
  }

  .new-box-content {
    width: 55%;
    margin: auto;
  }

   .new-pb {
      padding-bottom: 200px;
  }
}

/*  footer  */
.QR-code {
  width: 50px;
  height: 50px;
  margin: 0;
  display: block;
  float: left;
}

.contact-box:last-of-type {
  align-items: flex-start;
  width: 0;
  padding-left: 5%;
}

.QR-txt {
  display: inline-block;
  margin-left: 8px;
  line-height: 21px;
  font-size: 0.7rem;
  white-space:nowrap;
}

.milktea-bg{
  background-color: var(--red5);
  border-top: 5px solid var(--white);  
}

.contact-box-warp {
  display: flex;
  flex-wrap: wrap;
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 25%;
  margin: 20px 0;
}

.contact-box p span {
  letter-spacing: 0.2rem;
}

.foot-wrap {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 3% 0;
  color:  var(--white);
}

.footer-left {
  width: calc(35% - 1px);
  text-align: left;
}

.footer-left p {
  color: var(--white);
}

.footer-left h4 {
  color: var(--white);
  font-weight: bold;
  font-size: 1.05rem;
  line-height: 30px;
}

.footer-left p:nth-of-type(1) {
  color: var(--white);
  margin-bottom: 30px;
  margin-top: 15px;
}

.footer-left .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.5px 0 6.5px 6px;
  border-color: transparent transparent transparent var(--white);
  display: inline-block;
  margin-right: 5px;
}

.footer-left a {
  color: var(--white);
  text-decoration: none;
}

.footer-line {
  width: 3px;
  min-height: 210px;
  background: var(--white);
  margin: 10px 2%;
}

.footer-right {
  display: flex;
  width: 62%;
  justify-content: space-between;
  margin: auto;
}

.footer-right p {
  font-size: 0.8rem;
  color: var(--white);
  margin-bottom: 1rem;
}

@media (max-width: 1499.98px) {
  .contact-box:last-of-type {
      width: 40%;
      padding-left: 15%;
  }

  .contact-box {
      width: 33%;
      margin: 0 0 10px;
  }
}

@media (max-width: 1200px) {
  .contact-box:last-of-type {
      display: none;
  }
  .item {
      padding-top: 60%;
  }
  .main-pic img {
      width: 90%;
      margin: 0 5%;
  }
}

@media (max-width: 991.98px) {
  .contact-box {
      width: 50%;
      margin: 0 0 10px;
      align-items: flex-start;
  }
  .contact-box p .contact-box-title {
      display: block;
  }

  .footer-line {
    margin: 10px 5%;
  }

  .footer-left {
    margin: auto;
  }
}

@media (max-width: 768px) {
  /*============== footer ==============*/
  footer {
      font-size: 12px;
  }
  .footer-left {
      width: 100%;
  }

  .footer-right {
      width: 100%;
  }

  .footer-left p{
    font-size: 14px !important;
  }

  .footer-left a {
    font-size: 9px;
  }

  .footer-left p:nth-of-type(1) {
    margin-bottom: 50px;
    margin-top: 30px;
  } 

  .contact-box-warp {
    align-items: start;
  }
    .contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 10px 0;
  }
  .contact-box p span {
    letter-spacing: 0.15rem;
  }
  .contact-box p {
    margin-bottom: 2px;
  }
}


@media (max-width: 500px) {
  /*============== footer ==============*/
  .foot-wrap {
      width: 88%;
      flex-direction: column;
      padding: 10% 0 5%;
  }

  .footer-line {
      display: none;
  }

  .footer-left {
    text-align: center;
  }
  .footer-right {
      margin: 10px 0;
      flex-direction: column;
      width: 100%;
  }

  .footer-left p:nth-of-type(1) {
    margin-bottom: 30px;
    margin-top: 15px;
  } 
}